<?xml version="1.0" ?>
<module xmlns="urn:jboss:module:1.5" name="org.liquibase.core">
    <resources>
        <artifact name="${org.liquibase:liquibase-core}"/>
    </resources>
    <dependencies>
        <module name="java.sql"/>
        <module name="jakarta.servlet.api"/>
        <module name="jakarta.xml.bind.api"/>
        <module name="javax.servlet.api"/>
        <module name="com.opencsv"/>
        <module name="org.apache.commons.collections4"/>
        <module name="org.apache.commons.io"/>
        <module name="org.apache.commons.lang3"/>
        <module name="org.apache.commons.text"/>
        <module name="org.slf4j" services="import"/>
        <module name="org.slf4j.impl" services="import"/>
        <module name="org.yaml.snakeyaml"/>
    </dependencies>
</module>
