<?xml version="1.0" encoding="UTF-8"?>
<module name="com.opencsv" xmlns="urn:jboss:module:1.9">
    <resources>
        <artifact name="${com.opencsv:opencsv}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.commons.lang3"/>
        <module name="org.apache.commons.collections4"/>
    </dependencies>
</module>