<?xml version="1.0" encoding="UTF-8"?>
<module name="org.apache.commons.collections4" xmlns="urn:jboss:module:1.9">
    <resources>
        <artifact name="${org.apache.commons:commons-collections4}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
    </dependencies>
</module>